{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API"
  },
  "host": "api.hsbc.com.mx",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/prs.openbanking.opendata.v1.0+json"],
  "tags": [{
    "name": "Cajeros",
    "description": "Endpoint para obtener los datos de Cajeros."
  }, {
    "name": "Sucursales",
    "description": "Endpoint para obtener los datos de Sucursales."
  }, {
    "name": "BCA",
    "description": "Endpoint para obtener los datos de Cuenta de Negocio."
  }, {
    "name": "CCC",
    "description": "Endpoint para obtener los datos de Tarjeta de Crédito."
  }],
  "paths": {
    "/open-banking/v1.0/atms": {
      "get": {
        "tags": ["Cajeros"],
        "description": "Gets a list of all `ATM` objects.",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/atms/country/{country}": {
      "get": {
        "tags": ["Cajeros"],
        "description": "This extended API will return data about all ATMs in the specified country.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;MX&quot;",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/atms/postcode/{postcode}": {
      "get": {
        "tags": ["Cajeros"],
        "description": "This extended API will return data about all ATMs within a 5 mile radius of the specified postcode.",
        "parameters": [{
          "name": "postcode",
          "in": "path",
          "description": "Letters and numerals only. No spaces or special characters. eg  &quotSW1A1AA&quot",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/atms/country/{country}/town/{town}": {
      "get": {
        "tags": ["Cajeros"],
        "description": "This extended API will return data about all ATMs in the specified town.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;MX&quot;",
          "required": true,
          "type": "string"
        }, {
          "name": "town",
          "in": "path",
          "description": "Town name, not case sensitive",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/atms/geo-location/lat/{latitude}/long/{longitude}": {
      "get": {
        "tags": ["Cajeros"],
        "description": "This extended API will data about all ATMs within a specified radius (1 to 10 miles) of the specified latitude and longitude.",
        "parameters": [{
          "name": "latitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "longitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "radius",
          "in": "query",
          "description": "Number of miles (1 to 10) as an integer. Default = 1",
          "required": true,
          "type": "number"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v1.0/branches": {
      "get": {
        "tags": ["Sucursales"],
        "description": "Gets a list of all `Branch` objects.",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/branches/country/{country}": {
      "get": {
        "tags": ["Sucursales"],
        "description": "This extended API will return data about all Branches in the specified country.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;MX&quot;",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/branches/postcode/{postcode}": {
      "get": {
        "tags": ["Sucursales"],
        "description": "This extended API will return the branch details for all branches within a 5 mile radius of the specified postcode.",
        "parameters": [{
          "name": "postcode",
          "in": "path",
          "description": "Letters and numerals only. No spaces or special characters. eg. &quotSW1A1AA&quot",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/branches/country/{country}/town/{town}": {
      "get": {
        "tags": ["Sucursales"],
        "description": "This extended API will return the branch details for all branches in the specified town.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;MX&quot;",
          "required": true,
          "type": "string"
        }, {
          "name": "town",
          "in": "path",
          "description": "Town name, not case sensitive",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/branches/geo-location/lat/{latitude}/long/{longitude}": {
      "get": {
        "tags": ["Sucursales"],
        "description": "This API will return the branch details for all branches within a specified radius (1 to 10 miles) of the specified latitude and longitude.",
        "parameters": [{
          "name": "latitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "longitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "radius",
          "in": "query",
          "description": "Number of miles (1 to 10) as an integer. Default = 1",
          "required": true,
          "type": "number"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v1.0/business-current-accounts": {
      "get": {
        "tags": ["BCA"],
        "description": "Gets a list of all `Branch Current Account` objects.",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/business-current-accounts/segment/{segment}": {
      "get": {
        "tags": ["BCA"],
        "description": "This extended API will return data about all BCA products for the specified segment.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58; &quot;ClientAccount&quot;, &quot;Standard&quot;, &quot;NonCommercial&quot;, &quot;Religious&quot;, &quot;SectorSpecific&quot;, &quot;Startup&quot;, &quot;Switcher&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/BCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v1.0/commercial-credit-cards": {
      "get": {
        "tags": ["CCC"],
        "description": "Gets a list of all `Commerical Credit Card` objects.",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/CCCDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v1.0/commercial-credit-cards/segment/{segment}": {
      "get": {
        "tags": ["CCC"],
        "description": "This extended API will return data about all commercial credit cards products for the specified segment.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58 &quot;General&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string,",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              },
              "Last-Modified": {
                "type": "string",
                "description": "Describes date and time at which the resource was last modified"
              }
            },
            "schema": {
              "$ref": "#/definitions/CCCDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ATMDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ATMDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "BranchDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BranchDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "BCADefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BCADefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "CCCDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CCCDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "MetaDefinition": {
      "title": "Meta data",
      "type": "object",
      "properties": {
        "LastUpdated": {
          "type": "string",
          "format": "date-time"
        },
        "TotalResults": {
          "type": "integer"
        },
        "Agreement": {
          "type": "string",
          "enum": ["Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"]
        },
        "License": {
          "description": "Open Banking License",
          "type": "string",
          "format": "uri",
          "enum": ["https://www.openbanking.org.mx-tbd/open-licence"]
        },
        "TermsOfUse": {
          "description": "Open Banking Terms of Use",
          "type": "string",
          "format": "uri",
          "enum": ["https://www.openbanking.org.mx-tbd/terms"]
        }
      },
      "required": ["LastUpdated", "TotalResults", "Agreement", "License", "TermsOfUse"],
      "additionalProperties": false
    },
    "ATMDefinition": {
      "properties": {
        "Brand": {
          "description": "Marca del adquirente de operaciones del cajero",
          "type": "array",
          "title": "Brand",
          "items": {
            "description": "Marca del adquirente de operaciones del cajero",
            "type": "object",
            "properties": {
              "BrandName": {
                "description": "Nombre de la marca que la organizacion utiliza para comercializar sus productos o servicios al consumidor",
                "title": "BrandName",
                "type": "string",
                "minLength": 1,
                "maxLength": 140
              },
              "ATM": {
                "description": "Informacion del cajero.",
                "type": "array",
                "title": "ATM",
                "items": {
                  "description": "Informacion del cajero.",
                  "type": "object",
                  "properties": {
                    "Identification": {
                      "description": "Dispositivo de identificacion de adquirente y emisor en el cajero.",
                      "title": "Identification",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    },
                    "SupportedLanguages": {
                      "description": "Identificacion del nombre del idioma de acuerdo a los codigos ISO 639-1. El tipo es validado con la lista de valores codificados con dos caracteres alfanumericos, definidos bajo el estandar.",
                      "title": "SupportedLanguages",
                      "type": "array",
                      "items": {
                        "description": "Identificacion del nombre del idioma de acuerdo a los codigos ISO 639-1. El tipo es validado con la lista de valores codificados con dos caracteres alfanumericos, definidos bajo el estandar.",
                        "type": "string",
                        "pattern": "[a-z]{2}"
                      }
                    },
                    "ATMServices": {
                      "description": "Describe el tipo de operaciones disponibles para el cliente en el cajero.",
                      "title": "ATMServices",
                      "type": "array",
                      "items": {
                        "description": "Describe el tipo de operaciones disponibles para el cliente en el cajero.",
                        "type": "string",
                        "enum": ["Balance", "BillPayments", "CashDeposits", "CharityDonation", "ChequeDeposits", "CashWithdrawal", "EnvelopeDeposit", "FastCash", "MobileBankingRegistration", "MobilePaymentRegistration", "MobilePhoneTopUp", "OrderStatement", "Other", "PINActivation", "PINChange", "PINUnblock", "MiniStatement"]
                      }
                    },
                    "Accessibility": {
                      "description": "Indica tipos de accesibilidad",
                      "title": "Accessibility",
                      "type": "array",
                      "items": {
                        "description": "Indica tipos de accesibilidad",
                        "type": "string",
                        "enum": ["AudioCashMachine", "AutomaticDoors", "ExternalRamp", "InductionLoop", "InternalRamp", "LevelAccess", "LowerLevelCounter", "Other", "WheelchairAccess"]
                      }
                    },
                    "Access24HoursIndicator": {
                      "description": "Horas por dia",
                      "title": "Access24HoursIndicator",
                      "type": "boolean"
                    },
                    "SupportedCurrencies": {
                      "description": "Toda las monedas ISO 4217 disponibles en el cajero.",
                      "title": "SupportedCurrencies",
                      "type": "array",
                      "items": {
                        "description": "Toda las monedas ISO 4217 disponibles en el cajero",
                        "type": "string",
                        "pattern": "[A-Z]{3}"
                      },
                      "minItems": 1
                    },
                    "MinimumPossibleAmount": {
                      "description": "Cantidad minima permitida para una operacion",
                      "title": "MinimumPossibleAmount",
                      "type": "string",
                      "pattern": "[0-9]{0,13}(\\.?[0-9]{0,5})?"
                    },
                    "Note": {
                      "description": "Descripcion resumen del cajero",
                      "title": "Note",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 2000
                    },
                    "OtherAccessibility": {
                      "description": "Ingresa un nuevo codigo, nombre, y descripcion de cualquier otra opcion de accesibilidad",
                      "type": "array",
                      "title": "OtherAccessibility",
                      "items": {
                        "description": "Ingresa un nuevo codigo, nombre, y descripcion de cualquier otra opcion de accesibilidad",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "El Mnemonic de 4 letras utilizado dentro del archivo XML para identificar un codigo",
                            "title": "Code",
                            "type": "string",
                            "pattern": "[A-Z]{4}"
                          },
                          "Name": {
                            "description": "Nombre largo asociado con el codigo",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Descripcion del proposito del codigo",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        }
                      },
                      "additionalProperties": false,
                      "required": ["Name", "Description"]
                    },
                    "OtherATMServices": {
                      "description": "Ingresa un nuevo codigo, nombre, y descripcion de cualquier otro servicio ofrecido en el cajero",
                      "type": "array",
                      "title": "OtherATMServices",
                      "items": {
                        "description": "Ingresa un nuevo codigo, nombre, y descripcion de cualquier otro servicio ofrecido en el cajero",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "El Mnemonic de 4 letras utilizado dentro del archivo XML para identificar un codigo",
                            "title": "Code",
                            "type": "string",
                            "pattern": "[A-Z]{4}"
                          },
                          "Name": {
                            "description": "Nombre largo asociado con el codigo",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
[...]
