openapi: 3.0.1
info:
  title: Fineract by Skalena
  description: 'Apache Fineract is a secure, multi-tenanted microfinance platform. '
  termsOfService: https://demo.openmf.org/api-docs/apiLive.htm
  contact:
    name: https://skalena.finance
  version: 1.0.0
servers:
- url: https://skalena-api.brazilsouth.cloudapp.azure.com:8443/fineract-provider/api/v1
tags:
- name: Periodic Accrual Accounting
- name: Accounting Closure
- name: Mapping Financial Activities to Accounts
- name: General Ledger Account
- name: Journal Entries
- name: Provisioning Entries
- name: Accounting Rules
- name: Batch API
- name: Audits
- name: Maker Checker (or 4-eye) functionality
- name: Account number format
- name: Cache
- name: SMS Campaigns
- name: Code Values
- name: Codes
- name: External Services
- name: Global Configuration
- name: CreditBureau Configuration
- name: Data Tables
- name: Entity-Datatable Checks
- name: Reports
- name: Run Reports
- name: Documents
- name: DomainNameapiv1{entity}{entityId}images
- name: DomainNameapiv1entitytoentitymapping
- name: Hooks
- name: Scheduler
- name: MIFOSX-BATCH JOBS
- name: Report Mailing Jobs
- name: List Report Mailing Job History
- name: Authentication HTTP Basic
- name: Fetch authenticated user details
- name: SMS
- name: Likelihood
- name: Poverty Line
- name: Survey
- name: Mix Report
- name: Mix Taxonomy
- name: Mix Mapping
- name: Holidays
- name: Currency
- name: officetransactions
- name: Offices
- name: Provisioning Category
- name: Provisioning Criteria
- name: Staff
- name: cashiers
- name: Teller Cash Management
- name: cashiersjournal
- name: Working days
- name: Clients Address
- name: Client Charges
- name: Client Identifier Api
- name: Client Transaction
- name: Client Api
- name: SPM API - LookUp Table
- name: SPM - Scorecards
- name: SPM - Serveys
- name: User Generated Documents
- name: Password preferences
- name: Permissions
- name: Roles
- name: Users
paths:
  /runaccruals:
    post:
      tags:
      - Periodic Accrual Accounting
      summary: Executes Periodic Accrual Accounting
      description: |
        Mandatory Fields

        tillDate
      operationId: executePeriodicAccrualAccounting
      requestBody:
        description: "Request Body\n\nField Descriptions: \ntillDate: \nwhich specifies\
          \ periodic accruals should happen till the given Date"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runaccrualsRequest'
        required: true
      responses:
        200:
          description: OK
          content: {}
      x-codegen-request-body-name: body
  /glclosures:
    get:
      tags:
      - Accounting Closure
      summary: List Accounting closures
      description: |-
        Example Requests:

        glclosures
      operationId: retrieveAllClosures
      parameters:
      - name: officeId
        in: query
        description: officeId
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetGLClosureResponse'
    post:
      tags:
      - Accounting Closure
      summary: Create an Accounting Closure
      description: |-
        Mandatory Fields
        officeId,closingDate
      operationId: createGLClosure
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGLCLosuresRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGlClosuresResponse'
      x-codegen-request-body-name: body
  /glclosures/{glClosureId}:
    get:
      tags:
      - Accounting Closure
      summary: Retrieve an Accounting Closure
      description: |-
        Example Requests:

        glclosures/1


        /glclosures/1?fields=officeName,closingDate
      operationId: retreiveClosure
      parameters:
      - name: glClosureId
        in: path
        description: glClosureId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGLClosureResponse'
    put:
      tags:
      - Accounting Closure
      summary: Update an Accounting closure
      description: Once an accounting closure is created, only the comments associated
        with it may be edited
      operationId: updateGLClosure
      parameters:
      - name: glClosureId
        in: path
        description: glClosureId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutGlClosuresRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutGlClosuresResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Accounting Closure
      summary: Delete an accounting closure
      description: 'Note: Only the latest accounting closure associated with a branch
        may be deleted.'
      operationId: deleteGLClosure
      parameters:
      - name: glClosureId
        in: path
        description: glclosureId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGlClosuresResponse'
  /financialactivityaccounts:
    get:
      tags:
      - Mapping Financial Activities to Accounts
      summary: List Financial Activities to Accounts Mappings
      description: |-
        Example Requests:

        financialactivityaccounts
      operationId: retrieveAll
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetFinancialActivityAccountsResponse'
    post:
      tags:
      - Mapping Financial Activities to Accounts
      summary: Create a new Financial Activity to Accounts Mapping
      description: |-
        Mandatory Fields
        financialActivityId, glAccountId
      operationId: createGLAccount
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFinancialActivityAccountsRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostFinancialActivityAccountsResponse'
      x-codegen-request-body-name: body
  /financialactivityaccounts/{mappingId}:
    get:
      tags:
      - Mapping Financial Activities to Accounts
      summary: |
        Retrieve a Financial Activity to Account Mapping
      description: |-
        Example Requests:

        financialactivityaccounts/1
      operationId: retreive
      parameters:
      - name: mappingId
        in: path
        description: mappingId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialActivityAccountsResponse'
    put:
      tags:
      - Mapping Financial Activities to Accounts
      summary: Update a Financial Activity to Account Mapping
      description: "the API updates the Ledger account linked to a Financial Activity\
        \ \n"
      operationId: updateGLAccount
      parameters:
      - name: mappingId
        in: path
        description: mappingId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFinancialActivityAccountsRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutFinancialActivityAccountsResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Mapping Financial Activities to Accounts
      summary: Delete a Financial Activity to Account Mapping
      operationId: deleteGLAccount
      parameters:
      - name: mappingId
        in: path
        description: mappingId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFinancialActivityAccountsResponse'
  /financialactivityaccounts/template:
    get:
      tags:
      - Mapping Financial Activities to Accounts
      operationId: retrieveTemplate
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /glaccounts/template:
    get:
      tags:
      - General Ledger Account
      summary: Retrieve GL Accounts Template
      description: "This is a convenience resource. It can be useful when building\
        \ maintenance user interface screens for client applications. The template\
        \ data returned consists of any or all of:\n\nField Defaults\nAllowed Value\
        \ Lists\nExample Request:\n\nglaccounts/template\nglaccounts/template?type=1\n\
        \ntype is optional and integer value from 1 to 5.\n\n1.Assets \n2.Liabilities\
        \ \n3.Equity \n4.Income \n5.Expenses"
      operationId: retrieveNewAccountDetails
      parameters:
      - name: type
        in: query
        description: type
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGLAccountsTemplateResponse'
  /glaccounts:
    get:
      tags:
      - General Ledger Account
      summary: List General Ledger Accounts
      description: |-
        ARGUMENTS
        type Integer optional manualEntriesAllowed boolean optional usage Integer optional disabled boolean optional parentId Long optional tagId Long optional
        Example Requests:

        glaccounts


        glaccounts?type=1&manualEntriesAllowed=true&usage=1&disabled=false

        glaccounts?fetchRunningBalance=true
      operationId: retrieveAllAccounts
      parameters:
      - name: type
        in: query
        description: type
        schema:
          type: integer
          format: int32
      - name: searchParam
        in: query
        description: searchParam
        schema:
          type: string
      - name: usage
        in: query
        description: usage
        schema:
          type: integer
          format: int32
      - name: manualEntriesAllowed
        in: query
        description: manualEntriesAllowed
        schema:
          type: boolean
      - name: disabled
        in: query
        description: disabled
        schema:
          type: boolean
      - name: fetchRunningBalance
        in: query
        description: fetchRunningBalance
        schema:
          type: boolean
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetGLAccountsResponse'
    post:
      tags:
      - General Ledger Account
      summary: Create a General Ledger Account
      description: "Note: You may optionally create Hierarchical Chart of Accounts\
        \ by using the \"parentId\" property of an Account\nMandatory Fields: \nname,\
        \ glCode, type, usage and manualEntriesAllowed"
      operationId: createGLAccountPost
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGLAccountsRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGLAccountsResponse'
      x-codegen-request-body-name: body
  /glaccounts/{glAccountId}:
    get:
      tags:
      - General Ledger Account
      summary: Retrieve a General Ledger Account
      description: |-
        Example Requests:

        glaccounts/1


        glaccounts/1?template=true


        glaccounts/1?fields=name,glCode


        glaccounts/1?fetchRunningBalance=true
      operationId: retreiveAccount
      parameters:
      - name: glAccountId
        in: path
        description: glAccountId
        required: true
        schema:
          type: integer
          format: int64
      - name: fetchRunningBalance
        in: query
        description: fetchRunningBalance
        schema:
          type: boolean
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGLAccountsResponse'
    put:
      tags:
      - General Ledger Account
      summary: Update an Accounting closure
      description: |+
        Once an accounting closure is created, only the comments associated with it may be edited

      operationId: updateGLAccountPut
      parameters:
      - name: glAccountId
        in: path
        description: glAccountId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutGLAccountsRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutGLAccountsResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - General Ledger Account
      summary: Delete an accounting closure
      description: 'Note: Only the latest accounting closure associated with a branch
        may be deleted.'
      operationId: deleteGLAccountDelete
      parameters:
      - name: glAccountId
        in: path
        description: glAccountId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGLAccountsRequest'
  /journalentries/{journalEntryId}:
    get:
      tags:
      - Journal Entries
      summary: Retrieve a single Entry
      description: |-
        Example Requests:

        journalentries/1



        journalentries/1?fields=officeName,glAccountId,entryType,amount

        journalentries/1?runningBalance=true

        journalentries/1?transactionDetails=true
      operationId: retreiveJournalEntryById
      parameters:
      - name: journalEntryId
        in: path
        description: journalEntryId
        required: true
        schema:
          type: integer
          format: int64
      - name: runningBalance
        in: query
        description: runningBalance
        schema:
          type: boolean
      - name: transactionDetails
        in: query
        description: transactionDetails
        schema:
          type: boolean
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntryData'
  /journalentries:
    get:
      tags:
      - Journal Entries
      summary: List Journal Entries
      description: |-
        The list capability of journal entries can support pagination and sorting.

        Example Requests:

        journalentries

        journalentries?transactionId=PB37X8Y21EQUY4S

        journalentries?officeId=1&manualEntriesOnly=true&fromDate=1 July 2013&toDate=15 July 2013&dateFormat=dd MMMM yyyy&locale=en

        journalentries?fields=officeName,glAccountName,transactionDate

        journalentries?offset=10&limit=50

        journalentries?orderBy=transactionId&sortOrder=DESC

        journalentries?runningBalance=true

        journalentries?transactionDetails=true

        journalentries?loanId=12

        journalentries?savingsId=24
      operationId: retrieveAllGet
      parameters:
      - name: officeId
        in: query
        description: officeId
        schema:
          type: integer
          format: int64
      - name: glAccountId
        in: query
        description: glAccountId
        schema:
          type: integer
          format: int64
      - name: manualEntriesOnly
        in: query
        description: manualEntriesOnly
        schema:
          type: boolean
      - name: fromDate
        in: query
        description: fromDate
        schema:
          type: string
      - name: toDate
        in: query
        description: toDate
        schema:
          type: string
      - name: transactionId
        in: query
        description: transactionId
        schema:
          type: string
      - name: entityType
        in: query
        description: entityType
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: offset
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: limit
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: orderBy
        schema:
          type: string
      - name: sortOrder
        in: query
        description: sortOrder
        schema:
          type: string
      - name: locale
        in: query
        description: locale
        schema:
          type: string
      - name: dateFormat
        in: query
        description: dateFormat
        schema:
          type: string
      - name: loanId
        in: query
        description: loanId
        schema:
          type: integer
          format: int64
      - name: savingsId
        in: query
        description: savingsId
        schema:
          type: integer
          format: int64
      - name: runningBalance
        in: query
        description: runningBalance
        schema:
          type: boolean
      - name: transactionDetails
        in: query
        description: transactionDetails
        schema:
          type: boolean
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JournalEntryData'
    post:
      tags:
      - Journal Entries
      summary: Create "Balanced" Journal Entries
      description: "Note: A Balanced (simple) Journal entry would have atleast one\
        \ \"Debit\" and one \"Credit\" entry whose amounts are equal \nCompound Journal\
        \ entries may have \"n\" debits and \"m\" credits where both \"m\" and \"\
        n\" are greater than 0 and the net sum or all debits and credits are equal\
        \ \n\n\nMandatory Fields\nofficeId, transactionDate\n\n\ncredits- glAccountId,\
        \ amount, comments\n\n \ndebits-  glAccountId, amount, comments\n\n \nOptional\
        \ Fields\npaymentTypeId, accountNumber, checkNumber, routingCode, receiptNumber,\
        \ bankNumber"
      operationId: createGLJournalEntry
      parameters:
      - name: command
        in: query
        description: command
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalEntryCommand'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostJournalEntriesResponse'
      x-codegen-request-body-name: body
  /journalentries/{transactionId}:
    post:
      tags:
      - Journal Entries
      summary: Update Running balances for Journal Entries
      description: "This API calculates the running balances for office. If office\
        \ ID not provided this API calculates running balances for all offices. \n\
        Mandatory Fields\nofficeId"
      operationId: createReversalJournalEntry
      parameters:
      - name: transactionId
        in: path
        description: transactionId
        required: true
        schema:
          type: string
      - name: command
        in: query
        description: command
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostJournalEntriesTransactionIdRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostJournalEntriesTransactionIdResponse'
      x-codegen-request-body-name: body
  /journalentries/provisioning:
    get:
      tags:
      - Journal Entries
      operationId: retrieveJournalEntries
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: entryId
        in: query
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /journalentries/openingbalance:
    get:
      tags:
      - Journal Entries
      operationId: retrieveOpeningBalance
      parameters:
      - name: officeId
        in: query
        schema:
          type: integer
          format: int64
      - name: currencyCode
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /provisioningentries:
    get:
      tags:
      - Provisioning Entries
      summary: List all Provisioning Entries
      operationId: retrieveAllProvisioningEntries
      parameters:
      - name: offset
        in: query
        description: offset
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: limit
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProvisioningEntryData'
    post:
      tags:
      - Provisioning Entries
      summary: Create new Provisioning Entries
      description: |-
        Creates a new Provisioning Entries

        Mandatory Fields
        date
        dateFormat
        locale
        Optional Fields
        createjournalentries
      operationId: createProvisioningEntries
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProvisioningEntriesRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostProvisioningEntriesResponse'
      x-codegen-request-body-name: body
  /provisioningentries/{entryId}:
    get:
      tags:
      - Provisioning Entries
      summary: Retrieves a Provisioning Entry
      description: Returns the details of a generated Provisioning Entry.
      operationId: retrieveProvisioningEntry
      parameters:
      - name: entryId
        in: path
        description: entryId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningEntryData'
    post:
      tags:
      - Provisioning Entries
      summary: Recreates Provisioning Entry
      description: Recreates Provisioning Entry | createjournalentry.
      operationId: modifyProvisioningEntry
      parameters:
      - name: entryId
        in: path
        description: entryId
        required: true
        schema:
          type: integer
          format: int64
      - name: command
        in: query
        description: |-
          command=createjournalentry
          command=recreateprovisioningentry
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutProvisioningEntriesRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutProvisioningEntriesResponse'
      x-codegen-request-body-name: body
  /provisioningentries/entries:
    get:
      tags:
      - Provisioning Entries
      operationId: retrieveProviioningEntries
      parameters:
      - name: entryId
        in: query
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: officeId
        in: query
        schema:
          type: integer
          format: int64
      - name: productId
        in: query
        schema:
          type: integer
          format: int64
      - name: categoryId
        in: query
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanProductProvisioningEntryData'
  /accountingrules:
    get:
      tags:
      - Accounting Rules
      summary: Retrieve Accounting Rules
      description: |-
        Returns the list of defined accounting rules.

        Example Requests:

        accountingrules
      operationId: retrieveAllAccountingRules
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetAccountRulesResponse'
    post:
      tags:
      - Accounting Rules
      summary: Create/Define a Accounting rule
      description: |-
        Define a new Accounting rule.

        Mandatory Fields
        name, officeId,
        accountToDebit OR debitTags,
        accountToCredit OR creditTags.

        Optional Fields
        description
      operationId: createAccountingRule
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAccountingRulesRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAccountingRulesResponse'
      x-codegen-request-body-name: body
  /accountingrules/{accountingRuleId}:
    get:
      tags:
      - Accounting Rules
      summary: Retrieve a Accounting rule
      description: |-
        Returns the details of a defined Accounting rule.

        Example Requests:

        accountingrules/1
      operationId: retreiveAccountingRule
      parameters:
      - name: accountingRuleId
        in: path
        description: accountingRuleId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingRuleData'
    put:
      tags:
      - Accounting Rules
      summary: Update a Accounting Rule
      description: Updates the details of a Accounting rule.
      operationId: updateAccountingRule
      parameters:
      - name: accountingRuleId
        in: path
        description: accountingRuleId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutAccountingRulesRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutAccountingRulesResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Accounting Rules
      summary: Delete a Accounting Rule
      description: Deletes a Accounting rule.
      operationId: deleteAccountingRule
      parameters:
      - name: accountingRuleId
        in: path
        description: accountingRuleId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountingRulesResponse'
  /accountingrules/template:
    get:
      tags:
      - Accounting Rules
      summary: Retrieve Accounting Rule Details Template
      description: |-
        This is a convenience resource. It can be useful when building maintenance user interface screens for client applications. The template data returned consists of any or all of:

        Field Defaults
        Allowed Value Lists
        Example Request:

        accountingrules/template
      operationId: retrieveTemplateGet
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountRulesTemplateResponse'
  /batches:
    post:
      tags:
      - Batch API
      summary: Batch requests in a single transaction
      description: |-
        The Apache Fineract Batch API is also capable of executing all the requests in a single transaction, by setting a Query Parameter, "enclosingTransaction=true". So, if one or more of the requests in a batch returns an erroneous response all of the Data base transactions made by other successful requests will be rolled back.

        If there has been a rollback in a transaction then a single response will be provided, with a '400' status code and a body consisting of the error details of the first failed request.
      operationId: handleBatchRequests
      parameters:
      - name: enclosingTransaction
        in: query
        description: enclosingTransaction
        schema:
          type: boolean
          default: false
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBatchesRequest'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
      x-codegen-request-body-name: body
  /audits/{auditId}:
    get:
      tags:
      - Audits
      summary: Retrieve an Audit Entry
      description: |-
        Example Requests:

        audits/20
        audits/20?fields=madeOnDate,maker,processingResult
      operationId: retrieveAuditEntry
      parameters:
      - name: auditId
        in: path
        description: auditId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMakerCheckerResponse'
  /audits/searchtemplate:
    get:
      tags:
      - Audits
      summary: Audit Search Template
      description: |-
        This is a convenience resource. It can be useful when building an Audit Search UI. "appUsers" are data scoped to the office/branch the requestor is associated with.

        Example Requests:

        audits/searchtemplate
        audits/searchtemplate?fields=actionNames
      operationId: retrieveAuditSearchTemplate
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMakerCheckersSearchTemplateResponse'
  /audits:
    get:
      tags:
      - Audits
      summary: List Audits
      description: |-
        Get a 200 list of audits that match the criteria supplied and sorted by audit id in descending order, and are within the requestors' data scope. Also it supports pagination and sorting

        Example Requests:

        audits

        audits?fields=madeOnDate,maker,processingResult

        audits?makerDateTimeFrom=2013-03-25 08:00:00&makerDateTimeTo=2013-04-04 18:00:00

        audits?officeId=1

        audits?officeId=1&includeJson=true
      operationId: retrieveAuditEntries
      parameters:
      - name: actionName
        in: query
        description: actionName
        schema:
          type: string
      - name: entityName
        in: query
        description: entityName
        schema:
          type: string
      - name: resourceId
        in: query
        description: resourceId
        schema:
          type: integer
          format: int64
      - name: makerId
        in: query
        description: makerId
        schema:
          type: integer
          format: int64
      - name: makerDateTimeFrom
        in: query
        description: makerDateTimeFrom
        schema:
          type: string
      - name: makerDateTimeTo
        in: query
        description: makerDateTimeTo
        schema:
          type: string
      - name: checkerId
        in: query
        description: checkerId
        schema:
          type: integer
          format: int64
      - name: checkerDateTimeFrom
        in: query
        description: checkerDateTimeFrom
        schema:
          type: string
      - name: checkerDateTimeTo
        in: query
        description: checkerDateTimeTo
        schema:
          type: string
      - name: processingResult
        in: query
        description: processingResult
        schema:
          type: integer
          format: int32
      - name: officeId
        in: query
        description: officeId
        schema:
          type: integer
          format: int32
      - name: groupId
        in: query
        description: groupId
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: clientId
        schema:
          type: integer
          format: int32
      - name: loanid
        in: query
        description: loanid
        schema:
          type: integer
          format: int32
      - name: savingsAccountId
        in: query
        description: savingsAccountId
        schema:
          type: integer
          format: int32
      - name: paged
        in: query
        description: paged
        schema:
          type: boolean
      - name: offset
        in: query
        description: offset
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: limit
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: orderBy
        schema:
          type: string
      - name: sortOrder
        in: query
        description: sortOrder
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetMakerCheckerResponse'
  /makercheckers/searchtemplate:
    get:
      tags:
      - Maker Checker (or 4-eye) functionality
      summary: Maker Checker Search Template
      description: |-
        This is a convenience resource. It can be useful when building a Checker Inbox UI. "appUsers" are data scoped to the office/branch the requestor is associated with. "actionNames" and "entityNames" returned are those that the requestor has Checker approval permissions for.

        Example Requests:

        makercheckers/searchtemplate
        makercheckers/searchtemplate?fields=entityNames
      operationId: retrieveAuditSearchTemplateGet
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMakerCheckersSearchTemplateResponse'
  /makercheckers:
    get:
      tags:
      - Maker Checker (or 4-eye) functionality
      summary: List Maker Checker Entries
      description: |-
        Get a list of entries that can be checked by the requestor that match the criteria supplied.

        Example Requests:

        makercheckers

        makercheckers?fields=madeOnDate,maker,processingResult

        makercheckers?makerDateTimeFrom=2013-03-25 08:00:00&makerDateTimeTo=2013-04-04 18:00:00

        makercheckers?officeId=1

        makercheckers?officeId=1&includeJson=true
      operationId: retrieveCommands
      parameters:
      - name: actionName
        in: query
        description: actionName
        schema:
          type: string
      - name: entityName
        in: query
        description: entityName
        schema:
          type: string
      - name: resourceId
        in: query
        description: resourceId
        schema:
          type: integer
          format: int64
      - name: makerId
        in: query
        description: makerId
        schema:
          type: integer
          format: int64
      - name: makerDateTimeFrom
        in: query
        description: makerDateTimeFrom
        schema:
          type: string
      - name: makerDateTimeTo
        in: query
        description: makerDateTimeTo
        schema:
          type: string
      - name: officeId
        in: query
        description: officeId
        schema:
          type: integer
          format: int32
      - name: groupId
        in: query
        description: groupId
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: clientId
        schema:
          type: integer
          format: int32
      - name: loanid
        in: query
        description: loanid
        schema:
          type: integer
          format: int32
      - name: savingsAccountId
        in: query
        description: savingsAccountId
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetMakerCheckerResponse'
  /makercheckers/{auditId}:
    post:
      tags:
      - Maker Checker (or 4-eye) functionality
      summary: Approve Maker Checker Entry | Reject Maker Checker Entry
      operationId: approveMakerCheckerEntry
      parameters:
      - name: auditId
        in: path
        description: auditId
        required: true
        schema:
          type: integer
          format: int64
      - name: command
        in: query
        description: command
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMakerCheckersResponse'
    delete:
      tags:
      - Maker Checker (or 4-eye) functionality
      summary: Delete Maker Checker Entry
      operationId: deleteMakerCheckerEntry
      parameters:
      - name: auditId
        in: path
        description: auditId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMakerCheckersResponse'
  /accountnumberformats:
    get:
      tags:
      - Account number format
      summary: List Account number formats
      description: |-
        Example Requests:

        accountnumberformats


        accountnumberformats?fields=accountType,prefixType
      operationId: retrieveAllGetNumberFormats
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetAccountNumberFormatsIdResponse'
    post:
      tags:
      - Account number format
      summary: Create an Account number format
      description: |-
        Note: You may associate a single Account number format for a given account type
        Mandatory Fields for Account number formats
        accountType
      operationId: create
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAccountNumberFormatsRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAccountNumberFormatsResponse'
      x-codegen-request-body-name: body
  /accountnumberformats/{accountNumberFormatId}:
    get:
      tags:
      - Account number format
      summary: Retrieve an Account number format
      description: |-
        Example Requests:

        accountnumberformats/1


        accountnumberformats/1?template=true


        accountnumberformats/1?fields=accountType,prefixType
      operationId: retrieveOne
      parameters:
      - name: accountNumberFormatId
        in: path
        description: accountNumberFormatId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountNumberFormatsIdResponse'
    put:
      tags:
      - Account number format
      summary: Update an Account number format
      operationId: update
      parameters:
      - name: accountNumberFormatId
        in: path
        description: accountNumberFormatId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutAccountNumberFormatsRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutAccountNumberFormatsResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Account number format
      summary: Delete an Account number format
      description: 'Note: Account numbers created while this format was active would
        remain unchanged.'
      operationId: delete
      parameters:
      - name: accountNumberFormatId
        in: path
        description: accountNumberFormatId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountNumberFormatsResponse'
  /accountnumberformats/template:
    get:
      tags:
      - Account number format
      summary: Retrieve Account number format Template
      description: |-
        This is a convenience resource. It can be useful when building maintenance user interface screens for client applications. The template data returned consists of any or all of:

        Field Defaults
        Allowed Value Lists

        Example Request:

        accountnumberformats/template
      operationId: retrieveTemplateGetFormat
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountNumberFormatsResponseTemplate'
  /caches:
    get:
      tags:
      - Cache
      summary: Retrieve Cache Types
      description: |-
        Returns the list of caches.

        Example Requests:

        caches
      operationId: retrieveAllCaches
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCachesResponse'
    put:
      tags:
      - Cache
      summary: Switch Cache
      description: Switches the cache to chosen one.
      operationId: switchCache
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCachesRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutCachesResponse'
      x-codegen-request-body-name: body
  /smscampaigns:
    get:
      tags:
      - SMS Campaigns
      summary: List SMS Campaigns
      description: |-
        Example Requests:

        smscampaigns
      operationId: retrieveAllCampaigns
      parameters:
      - name: sqlSearch
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        schema:
          type: string
      - name: sortOrder
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    post:
      tags:
      - SMS Campaigns
      summary: Create a SMS Campaign
      description: |-
        Mandatory Fields
        campaignName, campaignType, triggerType, providerId, runReportId, message

        Mandatory Fields for Cash based on selected report id
        paramValue in json format
      operationId: createCampaign
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandWrapper'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /smscampaigns/{resourceId}:
    get:
      tags:
      - SMS Campaigns
      summary: Retrieve a SMS Campaign
      description: |
        Example Requests:

        smscampaigns/1
      operationId: retrieveCampaign
      parameters:
      - name: resourceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /smscampaigns/{campaignId}:
    put:
      tags:
      - SMS Campaigns
      summary: Update a Campaign
      operationId: updateCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandWrapper'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
    post:
      tags:
      - SMS Campaigns
      summary: SMS Campaign
      description: Activates | Deactivates | Reactivates
      operationId: handleCommands
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: command
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    delete:
      tags:
      - SMS Campaigns
      summary: Delete a SMS Campaign
      description: 'Note: Only closed SMS Campaigns can be deleted'
      operationId: deleteSMS
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                type: string
  /smscampaigns/template:
    get:
      tags:
      - SMS Campaigns
      summary: Retrieve a SMS Campaign
      description: |-
        Example Requests:

        smscampaigns/1


        smscampaigns/1?template=true


        smscampaigns/template
      operationId: template
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                type: string
  /smscampaigns/preview:
    post:
      tags:
      - SMS Campaigns
      operationId: preview
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /codes/{codeId}/codevalues:
    get:
      tags:
      - Code Values
      summary: List Code Values
      description: |-
        Returns the list of Code Values for a given Code

        Example Requests:

        codes/1/codevalues
      operationId: retrieveAllCodeValues
      parameters:
      - name: codeId
        in: path
        description: codeId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A List of Given response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCodeValuesDataResponse'
    post:
      tags:
      - Code Values
      summary: Create a Code Value
      operationId: createCodeValue
      parameters:
      - name: codeId
        in: path
        description: codeId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCodeValuesDataRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCodeValueDataResponse'
      x-codegen-request-body-name: body
  /codes/{codeId}:
    get:
      tags:
      - Codes
      summary: Retrieve a Code
      description: |-
        Returns the details of a Code.

        Example Requests:

        codes/1
      operationId: retrieveCode
      parameters:
      - name: codeId
        in: path
        description: codeId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCodesResponse'
    put:
      tags:
      - Codes
      summary: Update a Code
      description: Updates the details of a code if it is not system defined.
      operationId: updateCode
      parameters:
      - name: codeId
        in: path
        description: codeId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCodesRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutCodesResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Codes
      summary: Delete a Code
      description: Deletes a code if it is not system defined.
      operationId: deleteCode
      parameters:
      - name: codeId
        in: path
        description: codeId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCodesResponse'
  /externalservice/{servicename}:
    get:
      tags:
      - External Services
      summary: Retrieve External Services Configuration
      description: |-
        Returns a external Service configurations based on the Service Name.

        Service Names supported are S3 and SMTP.

        Example Requests:

        externalservice/SMTP
      operationId: retrieveOneSMS
      parameters:
      - name: servicename
        in: path
        description: servicename
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServicesPropertiesData'
    put:
      tags:
      - External Services
      summary: Update External Service
      description: "Updates the external Service Configuration for a Service Name.\n\
        \nExample: \n\nexternalservice/S3"
      operationId: updateExternalServiceProperties
      parameters:
      - name: servicename
        in: path
        description: servicename
        required: true
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutExternalServiceRequest'
        required: true
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: body
  /configurations:
    get:
      tags:
      - Global Configuration
      summary: Retrieve Global Configuration | Retrieve Global Configuration for surveys
      description: |-
        Returns the list global enable/disable configurations.

        Example Requests:

        configurations


        Returns the list global enable/disable survey configurations.

        Example Requests:

        configurations/survey
      operationId: retrieveConfiguration
      parameters:
      - name: survey
        in: query
        description: survey
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: "List of example \n response \nsurveys response   \ngiven below"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetGlobalConfigurationsResponse'
  /configurations/{configId}:
    get:
      tags:
      - Global Configuration
      summary: Retrieve Global Configuration
      description: |-
        Returns a global enable/disable configurations.

        Example Requests:

        configurations/1
      operationId: retrieveOneConf
      parameters:
      - name: configId
        in: path
        description: configId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGlobalConfigurationsResponse'
    put:
      tags:
      - Global Configuration
      summary: Update Global Configuration
      description: Updates an enable/disable global configuration item.
      operationId: updateConfiguration
      parameters:
      - name: configId
        in: path
        description: configId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutGlobalConfigurationsRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutGlobalConfigurationsResponse'
      x-codegen-request-body-name: body
  /CreditBureauConfiguration/organisationCreditBureau:
    get:
      tags:
      - CreditBureau Configuration
      operationId: getOrganisationCreditBureau
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    put:
      tags:
      - CreditBureau Configuration
      operationId: updateCreditBureau
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /CreditBureauConfiguration/loanProduct:
    get:
      tags:
      - CreditBureau Configuration
      operationId: fetchLoanProducts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /CreditBureauConfiguration/mappings:
    get:
      tags:
      - CreditBureau Configuration
      operationId: getCreditBureauLoanProductMapping
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    put:
      tags:
      - CreditBureau Configuration
      operationId: updateCreditBureauLoanProductMapping
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /CreditBureauConfiguration/organisationCreditBureau/{organisationCreditBureauId}:
    post:
      tags:
      - CreditBureau Configuration
      operationId: addOrganisationCreditBureau
      parameters:
      - name: organisationCreditBureauId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /CreditBureauConfiguration/mappings/{CreditBureauId}:
    post:
      tags:
      - CreditBureau Configuration
      operationId: createCreditBureauLoanProductMapping
      parameters:
      - name: CreditBureauId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /CreditBureauConfiguration/config/{organisationCreditBureauId}:
    get:
      tags:
      - CreditBureau Configuration
      operationId: getConfiguration
      parameters:
      - name: organisationCreditBureauId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /CreditBureauConfiguration:
    get:
      tags:
      - CreditBureau Configuration
      operationId: getCreditBureau
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /datatables/{datatableName}:
    put:
      tags:
      - Data Tables
      summary: Update Data Table
      description: Modifies fields of a data table. If the apptableName parameter
        is passed, data table is deregistered and registered with the new application
        table.
      operationId: updateDatatable
      parameters:
      - name: datatableName
        in: path
        description: datatableName
        required: true
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDataTablesRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDataTablesResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Data Tables
      summary: Delete Data Table
      description: Deletes a data table and deregisters it from the Apache Fineract
        Core application table.
      operationId: deleteDatatable
      parameters:
      - name: datatableName
        in: path
        description: datatableName
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDataTablesResponse'
  /datatables:
    get:
      tags:
      - Data Tables
      summary: List Data Tables
      description: |-
        Lists registered data tables and the Apache Fineract Core application table they are registered to.

        ARGUMENTS

        apptable  - optional
        The Apache Fineract core application table.

        Example Requests:

        datatables?apptable=m_client


        datatables
      operationId: getDatatables
      parameters:
      - name: apptable
        in: query
        description: apptable
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDataTablesResponse'
    post:
      tags:
      - Data Tables
      summary: Create Data Table
      description: "Create a new data table and registers it with the Apache Fineract\
        \ Core application table.\n\nField Descriptions\n\nMandatory - datatableName\
        \ : \n\nThe name of the Data Table.\n\nMandatory - apptableName\n\nApplication\
        \ table name. Must be one of the following:\n\nm_client\n\nm_group\n\nm_loan\n\
        \nm_office\n\nm_saving_account\n\nm_product_loan\n\nm_savings_product\n\n\
        Mandatory - columns  \nAn array of columns in the new Data Table.\n\nOptional\
        \ - multiRow\n\nAllows to create multiple entries in the Data Table. Optional,\
        \ defaults to false. If this property is not provided Data Table will allow\
        \ only one entry.\n\nField Descriptions - columns\n\nMandatory - name\n\n\
        Name of the created column. Can contain only alphanumeric characters, underscores\
        \ and spaces, but cannot start with a number. Cannot start or end with an\
        \ underscore or space.\n\nMandatory - type\n\nColumn type. Must be one of\
        \ the following:\n\nBoolean\n\nDate\n\nDateTime\n\nDecimal\n\nDropdown\n\n\
        \nNumber\n\nString\n\nText\n\nMandatory [type = Dropdown] - code\n\nUsed in\
        \ Code Value fields. Column name becomes: code_cd_name. Mandatory if using\
        \ type Dropdown, otherwise an error is returned.\n\nOptional - mandatory\n\
        \nDetermines whether this column must have a value in every entry. Optional,\
        \ defaults to false.\n\nMandatory [type = String] - length\n\nLength of the\
        \ text field. Mandatory if type String is used, otherwise an error is returned."
      operationId: createDatatable
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDataTablesRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDataTablesResponse'
      x-codegen-request-body-name: body
  /datatables/register/{datatable}/{apptable}:
    post:
      tags:
      - Data Tables
      summary: Register Data Table
      description: Registers a data table with the Apache Fineract Core application
        table. This allows the data table to be maintained through the API. In case
        the datatable is a PPI (survey table), a parameter category should be pass
        along with the request. The API currently support one category (200)
      operationId: registerDatatable
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptable
        in: path
        description: apptable
        required: true
        schema:
          type: string
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDataTablesRegisterDatatableAppTable'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDataTablesResponse'
      x-codegen-request-body-name: body
  /datatables/deregister/{datatable}:
    post:
      tags:
      - Data Tables
      summary: Deregister Data Table
      description: Deregisters a data table. It will no longer be available through
        the API.
      operationId: deregisterDatatable
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDataTablesResponse'
  /datatables/{datatable}:
    get:
      tags:
      - Data Tables
      summary: Retrieve Data Table Details
      description: Lists a registered data table details and the Apache Fineract Core
        application table they are registered to.
      operationId: getDatatable
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDataTablesResponse'
  /datatables/{datatable}/{apptableId}:
    get:
      tags:
      - Data Tables
      summary: Retrieve Entry(s) from Data Table
      description: "Gets the entry (if it exists) for data tables that are one to\
        \ one with the application table. \nGets the entries (if they exist) for data\
        \ tables that are one to many with the application table.\n\nNote: The 'fields'\
        \ parameter is not available for datatables.\n\nARGUMENTS\norderoptional Specifies\
        \ the order in which data is returned.genericResultSetoptional, defaults to\
        \ false If 'true' an optimised JSON format is returned suitable for tabular\
        \ display of data. This format is used by the default data tables UI functionality.\n\
        Example Requests:\n\ndatatables/extra_client_details/1\n\n\ndatatables/extra_family_details/1?order=`Date\
        \ of Birth` desc\n\n\ndatatables/extra_client_details/1?genericResultSet=true"
      operationId: getDatatableGet
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: order
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDataTablesAppTableIdResponse'
    put:
      tags:
      - Data Tables
      summary: Update Entry in Data Table (One to One)
      description: Updates the row (if it exists) of the data table.
      operationId: updateDatatableEntryOnetoOne
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDataTablesAppTableIdRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDataTablesAppTableIdResponse'
      x-codegen-request-body-name: body
    post:
      tags:
      - Data Tables
      summary: Create Entry in Data Table
      description: |-
        Adds a row to the data table.

        Note that the default datatable UI functionality converts any field name containing spaces to underscores when using the API. This means the field name "Business Description" is considered the same as "Business_Description". So you shouldn't have both "versions" in any data table.
      operationId: createDatatableEntry
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDataTablesAppTableIdRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDataTablesAppTableIdResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Data Tables
      summary: Delete Entry(s) in Data Table
      description: "Deletes the entry (if it exists) for data tables that are one-to-one\
        \ with the application table. \nDeletes the entries (if they exist) for data\
        \ tables that are one-to-many with the application table."
      operationId: deleteDatatableEntries
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDataTablesDatatableAppTableIdResponse'
  /datatables/{datatable}/{apptableId}/{datatableId}:
    get:
      tags:
      - Data Tables
      operationId: getDatatableManyEntry
      parameters:
      - name: datatable
        in: path
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: datatableId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    put:
      tags:
      - Data Tables
      summary: Update Entry in Data Table (One to Many)
      description: Updates the row (if it exists) of the data table.
      operationId: updateDatatableEntryOneToMany
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema:
          type: string
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      - name: datatableId
        in: path
        description: datatableId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDataTablesAppTableIdDatatableIdRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDataTablesAppTableIdDatatableIdResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Data Tables
      summary: Delete Entry in Datatable (One to Many)
      description: |+
        Deletes the entry (if it exists) for data tables that are one to many with the application table.

      operationId: deleteDatatableEntriesDel
      parameters:
      - name: datatable
        in: path
        description: datatable
        required: true
        schema: {}
        example: '{}'
      - name: apptableId
        in: path
        description: apptableId
        required: true
        schema:
          type: integer
          format: int64
      - name: datatableId
        in: path
        description: datatableId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDataTablesDatatableAppTableIdDatatableIdResponse'
  /entityDatatableChecks:
    get:
      tags:
      - Entity-Datatable Checks
      summary: List Entity-Datatable Checks
      description: |-
        The list capability of Entity-Datatable Checks can support pagination.

        OPTIONAL ARGUMENTS
        offset Integer optional, defaults to 0 Indicates the result from which pagination startslimit Integer optional, defaults to 200 Restricts the size of results returned. To override the default and return all entries you must explicitly pass a non-positive integer value for limit e.g. limit=0, or limit=-1
        Example Request:

        entityDatatableChecks?offset=0&limit=15
      operationId: retrieveAllChecks
      parameters:
      - name: status
        in: query
        description: status
        schema:
          type: integer
          format: int64
      - name: entity
        in: query
        description: entity
        schema:
          type: string
      - name: productId
        in: query
        description: productId
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: offset
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: limit
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetEntityDatatableChecksResponse'
    post:
      tags:
      - Entity-Datatable Checks
      summary: Create Entity-Datatable Checks
      description: "Mandatory Fields : \nentity, status, datatableName\n\nNon-Mandatory\
        \ Fields : \nproductId"
      operationId: createEntityDatatableCheck
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEntityDatatableChecksTemplateRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEntityDatatableChecksTemplateResponse'
      x-codegen-request-body-name: body
  /entityDatatableChecks/template:
    get:
      tags:
      - Entity-Datatable Checks
      summary: Retrieve Entity-Datatable Checks Template
      description: |-
        This is a convenience resource useful for building maintenance user interface screens for Entity-Datatable Checks applications. The template data returned consists of:

        Allowed Value Lists
        Example Request:

        entityDatatableChecks/template
      operationId: getTemplate
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityDatatableChecksTemplateResponse'
  /reports/{id}:
    get:
      tags:
      - Reports
      summary: |
        Retrieve a Report
      description: |-
        Example Requests:

        reports/1


        reports/1?template=true
      operationId: retrieveReport
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportsResponse'
    put:
      tags:
      - Reports
      summary: Update a Report
      description: Only the useReport value can be updated for core reports.
      operationId: updateReport
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutReportRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutReportResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Reports
      summary: Delete a Report
      description: Only non-core reports can be deleted.
      operationId: deleteReport
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteReportsResponse'
  /reports:
    get:
      tags:
      - Reports
      summary: List Reports
      description: |-
        Lists all reports and their parameters.

        Example Request:

        reports
      operationId: retrieveReportList
      responses:
        200:
          description: ""
          content: {}
    post:
      tags:
      - Reports
      summary: Create a Report
      operationId: createReport
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRepostRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostReportsResponse'
      x-codegen-request-body-name: body
  /reports/template:
    get:
      tags:
      - Reports
      summary: Retrieve Report Template
      description: "This is a convenience resource. It can be useful when building\
        \ maintenance user interface screens for client applications. The template\
        \ data returned consists of any or all of:\n\nField Defaults\nAllowed Value\
        \ Lists\n\nExample Request : \n\nreports/template"
      operationId: retrieveOfficeTemplate
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportsTemplateResponse'
  /runreports/{reportName}:
    get:
      tags:
      - Run Reports
      summary: Running a Report
      description: |-
        This resource allows you to run and receive output from pre-defined Apache Fineract reports.

        Reports can also be used to provide data for searching and workflow functionality.

        The default output is a JSON formatted "Generic Resultset". The Generic Resultset contains Column Heading as well as Data information. However, you can export to CSV format by simply adding "&exportCSV=true" to the end of your URL.

        If Pentaho reports have been pre-defined, they can also be run through this resource. Pentaho reports can return HTML, PDF or CSV formats.

        The Apache Fineract reference application uses a JQuery plugin called stretchy reporting which, itself, uses this reports resource to provide a pretty flexible reporting User Interface (UI).



        Example Requests:

        runreports/Client%20Listing?R_officeId=1


        runreports/Client%20Listing?R_officeId=1&exportCSV=true


        runreports/OfficeIdSelectOne?R_officeId=1&parameterType=true


        runreports/OfficeIdSelectOne?R_officeId=1&parameterType=true&exportCSV=true


        runreports/Expected%20Payments%20By%20Date%20-%20Formatted?R_endDate=2013-04-30&R_loanOfficerId=-1&R_officeId=1&R_startDate=2013-04-16&output-type=HTML&R_officeId=1


        runreports/Expected%20Payments%20By%20Date%20-%20Formatted?R_endDate=2013-04-30&R_loanOfficerId=-1&R_officeId=1&R_startDate=2013-04-16&output-type=XLS&R_officeId=1


        runreports/Expected%20Payments%20By%20Date%20-%20Formatted?R_endDate=2013-04-30&R_loanOfficerId=-1&R_officeId=1&R_startDate=2013-04-16&output-type=CSV&R_officeId=1


        runreports/Expected%20Payments%20By%20Date%20-%20Formatted?R_endDate=2013-04-30&R_loanOfficerId=-1&R_officeId=1&R_startDate=2013-04-16&output-type=PDF&R_officeId=1
      operationId: runReport
      parameters:
      - name: reportName
        in: path
        description: reportName
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportNameResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/GetReportNameResponse'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/GetReportNameResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetReportNameResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/GetReportNameResponse'
  /{entityType}/{entityId}/documents:
    get:
      tags:
      - Documents
      summary: List documents
      description: |-
        Example Requests:

        clients/1/documents

        client_identifiers/1/documents

        loans/1/documents?fields=name,description
      operationId: retreiveAllDocuments
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetEntityTypeEntityIdDocumentsResponse'
    post:
      tags:
      - Documents
      summary: Create a Document
      description: "Note: A document is created using a Multi-part form upload \n\n\
        Body Parts\n\nname : \nName or summary of the document\n\ndescription : \n\
        Description of the document\n\nfile : \nThe file to be uploaded\n\nMandatory\
        \ Fields : \nfile and description"
      operationId: createDocument
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: Content-Length
        in: header
        description: Content-Length
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: file
                  format: binary
                name:
                  type: string
                  description: name
                description:
                  type: string
                  description: description
      responses:
        200:
          description: Not Shown (multi-part form data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEntityTypeEntityIdDocumentsResponse'
  /{entityType}/{entityId}/documents/{documentId}:
    get:
      tags:
      - Documents
      summary: Retrieve a Document
      description: |-
        Example Requests:

        clients/1/documents/1


        loans/1/documents/1


        client_identifiers/1/documents/1?fields=name,description
      operationId: getDocument
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: documentId
        in: path
        description: documentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityTypeEntityIdDocumentsResponse'
    put:
      tags:
      - Documents
      summary: Update a Document
      description: "Note: A document is updated using a Multi-part form upload \n\
        Body Parts\nname\nName or summary of the document\ndescription\nDescription\
        \ of the document\nfile\nThe file to be uploaded"
      operationId: updateDocument
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: documentId
        in: path
        description: documentId
        required: true
        schema:
          type: integer
          format: int64
      - name: Content-Length
        in: header
        description: Content-Length
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: file
                  format: binary
                name:
                  type: string
                  description: name
                description:
                  type: string
                  description: description
      responses:
        200:
          description: Not Shown (multi-part form data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutEntityTypeEntityIdDocumentsResponse'
    delete:
      tags:
      - Documents
      summary: Remove a Document
      operationId: deleteDocument
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: documentId
        in: path
        description: documentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEntityTypeEntityIdDocumentsResponse'
  /{entityType}/{entityId}/documents/{documentId}/attachment:
    get:
      tags:
      - Documents
      summary: Retrieve Binary File associated with Document
      description: |-
        Request used to download the file associated with the document

        Example Requests:

        clients/1/documents/1/attachment


        loans/1/documents/1/attachment
      operationId: downloadFile
      parameters:
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: documentId
        in: path
        description: documentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: 'Not Shown: The corresponding Binary file'
          content: {}
  /{entity}/{entityId}/images:
    get:
      tags:
      - DomainNameapiv1{entity}{entityId}images
      operationId: downloadClientImage
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: maxWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: maxHeight
        in: query
        schema:
          type: integer
          format: int32
      - name: output
        in: query
        schema:
          type: string
      responses:
        default:
          description: successful operation
          content: {}
    put:
      tags:
      - DomainNameapiv1{entity}{entityId}images
      operationId: updateClientImage
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Content-Length
        in: header
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    post:
      tags:
      - DomainNameapiv1{entity}{entityId}images
      operationId: addNewClientImage
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          text/html:
            schema:
              type: string
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
    delete:
      tags:
      - DomainNameapiv1{entity}{entityId}images
      operationId: deleteClientImage
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /entitytoentitymapping/{mapId}/{fromId}/{toId}:
    get:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: getEntityToEntityMappings
      parameters:
      - name: mapId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: fromId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: toId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /entitytoentitymapping/{mapId}:
    get:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: retrieveOneMapping
      parameters:
      - name: mapId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
    put:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: updateMap
      parameters:
      - name: mapId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
    delete:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: deleteMapping
      parameters:
      - name: mapId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /entitytoentitymapping:
    get:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: retrieveAllEntityMapping
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /entitytoentitymapping/{relId}:
    post:
      tags:
      - DomainNameapiv1entitytoentitymapping
      operationId: createMap
      parameters:
      - name: relId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
  /hooks:
    get:
      tags:
      - Hooks
      summary: Retrieve Hooks
      description: |-
        Returns the list of hooks.

        Example Requests:

        hooks
      operationId: retrieveHooks
      responses:
        200:
          description: ""
          content:
[...]
